@import "./Typography.scss", "./colorvars.scss", "./navigation.scss",
  "./Products.scss";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: $roboto;
}

/* ui kit classes */
/* text */

.large-text {
  font-size: 16px;
  font-weight: bold;
}

.small-text {
  font-size: 14px;
}

.xsmall-text {
  font-size: 13px;
}

/* text style */

.bold {
  font-weight: bold;
  color: $textBold;
}
.semi {
  color: $textSemi;
}
.light {
  color: $textLight;
}
.green {
  color: $textGreen;
}

.white-text {
  color: #fff;
}
/* images */

.logo-icon {
  width: 85px;
}

/* margin - paddings */
.m-1 {
  margin: 5px 5px;
}
.m-2 {
  margin: 10px 10px;
}
.m-3 {
  margin: 15px 15px;
}

.p-1 {
  padding: 10px 10px;
}
.p-2 {
  padding: 14px 14px;
}
.p-3 {
  padding: 16px 16px;
}
/* buttons */
.btn {
  background: none;
  outline: none;
  cursor: pointer;
}
.btn-yellow {
  background: #ff9f00;
  border: none;
}

/* forms */

/* input forms group */

.input-group {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  background: #fff;
  padding: 10px 10px;
  input {
    background: none;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
  }
}

/* product card */

.product-container {
  padding: 10px 10px;

  .product-list {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    .product-card {
      background: rgb(250, 250, 250);
      .card-image {
        img {
          width: 300px;
          height: 400px;
          object-fit: cover;
        }
      }
    }
    .card-body {
    }
    .card-footer {
      margin: 20px 0px;
    }
  }
}
.product-card {
  padding: 10px 10px;
}

/* cart-container */
.cart-container {
  .message {
    text-align: center;
    border: 1px solid $textGreen;
    font-size: 20px;
    width: 100%;
  }
  .cart-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    align-items: flex-start;
    .subtotal {
      display: flex;
      flex-direction: column;
      border: 2px solid #fff;
      box-shadow: 0px 0px 5px 0px #ccc;
      height: auto;
      padding: 10px 10px;
      width: 500px;

      .total-price,
      .discount,
      .delivery,
      .grand-total {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding: 5px 10px;
      }
      .grand-total {
        border-bottom: none;
      }
    }
  }
  .cart-list {
    display: flex;
    flex-direction: column;
    list-style: none;

    .each-item {
      border: 2px solid #fff;
      box-shadow: 0px 0px 5px 0px #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .product-img {
        width: 150px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
